<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <title>Ban Student</title>
    <meta charset="UTF-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css"/>
</head>
<div th:replace="fragments/header"></div>
<body>
<div class="modal-dialog text-center">
    <div class="col-sm-8 main-section">
        <div class="modal-content">
            <div class="col-12 user-img">
                <img src="../../photos/iconedit.png"/>
            </div>
            <form class="form-group col-12" th:action="@{/student/msg}" th:object="${student}" method="post">
                <a>You are banning: <span th:text="${student.id_al}"></span></a>
                <div class="form-group" id="name-group">
                    <input type="text" class="form-control" readonly="readonly" th:field="*{id_al}"/>
                </div>
                <div class="form-group" id="desc-group">
                    <input type="text" class="form-control" placeholder="Reason for Ban" th:field="*{banMsg}"/>
                </div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>