<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Collaboration</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <h2>New Collaboration</h2>
    <form class="form-horizontal" action="#" th:action="@{/collaboration/add}"
          th:object="${collaboration}" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="ID Collaboration">ID Collaboration:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="ID Collaboration" th:field="*{id_C}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="Id Request">Id Request:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="Id Request" th:field="*{id_R}" />
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="ID Offer">ID Offer:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="ID Offer" th:field="*{id_O}" />
            </div>
        </div>


        <div class="form-group row">
            <label class="control-label col-sm-2" for="Start Date">Start Date:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="Start Date" th:field="*{StartDate}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="End Date">End Date:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="End Date" th:field="*{EndDate}"/>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="Score">Score:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="Score" th:field="*{score}"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary">Add Collaboration</button>
            </div>
        </div>

    </form>
</div>
</body>
</html>