<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <title>Valoration</title>
    <meta charset="UTF-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css"/>
    <style>
    #form {
  width: 250px;
  margin: 0 auto;
  height: 50px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}
</style>
</head>
<div th:replace="fragments/header"></div>
<body>
<div class="modal-dialog text-center">
    <div class="col-sm-8 main-section">
        <div class="modal-content">
            <div class="col-12 user-img">
                <img src="../../photos/iconedit.png"/>
            </div>
            <form class="form-group col-12" th:action="@{/collaboration/close}" th:object="${studentsColab}" method="post">
                <a>How would you rate the collaboration?</a>
                <p class="clasificacion">
                    <input id="radio1" type="radio" name="estrellas" value="5" th:field="*{score}">
                        <label for="radio1">★</label>
                        <input id="radio2" type="radio" name="estrellas" value="4">
                        <label for="radio2">★</label>
                        <input id="radio3" type="radio" name="estrellas" value="3">
                        <label for="radio3">★</label>
                        <input id="radio4" type="radio" name="estrellas" value="2">
                        <label for="radio4">★</label>
                        <input id="radio5" type="radio" name="estrellas" value="1">
                        <label for="radio5">★</label>
                </p>
                <div class="form-group" id="desc-group">
                    <input type="text" class="form-control" placeholder="Hours" th:field="*{hours}"/>
                </div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>