<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Offer</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Update Offer</h2>
<form action="#" th:action="@{/offer/update}"
      th:object="${offer}" method="post">
    <table>
        <tr>
            <td><label>ID Offer</label></td>
            <td><input type="text" th:field="*{id_O}" /></td>
        </tr>
        <tr>
            <td><label>Al</label></td>
            <td><input type="text" th:field="*{id_al}" /></td>
        </tr>
        <tr>
            <td><label>ID Skill</label></td>
            <td><input type="text" th:field="*{id_S}" /></td>
        </tr>
        <tr>
            <td><label>Description</label></td>
            <td><input type="text" th:field="*{description}" /></td>
        </tr>
        <tr>
            <td><label>Start Date</label></td>
            <td><input type="text" th:field="*{StartDate}" /></td>
        </tr>
        <tr>
            <td><label>End Date</label></td>
            <td><input type="text" th:field="*{EndDate}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Update Offer" /></td>
        </tr>
    </table>
</form>
</body>
</html>