<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <img class="img-skill" src="https://mpng.subpng.com/20180420/wlw/kisspng-sigma-theta-tau-nurse-education-nursing-school-childhood-education-5ad9b9e7017f60.1670226215242183430062.jpg"/>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01" style="">
            <ul class="navbar-nav me-auto">
                <li class="nav-item" >
                    <a class="nav-link active" href="/" th:href="@{/}">Home <span class="visually-hidden">(current)</span> </a>
                </li>
                <li class="nav-item" th:object="${session}">
                    <a th:unless="*{student == null}" class="nav-link" href="/student/profile" th:href="@{/student/profile}">Profile</a>
                </li>
                <li class="nav-item dropdown" th:object="${session}">
                    <a th:unless="*{student == null}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Offers</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/offer/myoffers">My Offers</a>
                        <a class="dropdown-item" href="/offer/add">Add Offer</a>
                        <a class="dropdown-item" href="/offer/list">Public Offers</a>
                    </div>
                </li>
                <li class="nav-item dropdown" th:object="${session}">
                    <a th:unless="*{student == null}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Requests</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/request/myrequests">My Requests</a>
                        <a class="dropdown-item" href="/request/add">Add Request</a>
                        <a class="dropdown-item" href="/request/list">Public Requests</a>
                    </div>
                </li>
                <li class="nav-item dropdown" th:object="${session}">
                    <a th:unless="*{student == null}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Collaborations</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/request/myrequests">Collaboration management</a>
                        <a class="dropdown-item" href="/request/list">My Collaborations</a>
                    </div>
                </li>
                <li class="nav-item dropdown" th:object="${session}">
                    <a th:if="*{student != null} and *{student.SKP}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">SKP Functions</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/skilltype/list">View Skills</a>
                        <a class="dropdown-item" href="/student/ban">Ban Student</a>
                        <a class="dropdown-item">Consult Stadistics</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav d-flex">
                <li class="loggeduser" th:object="${session}">
                    <a th:if="*{student == null}" class="nav-link" href="/login" th:href="@{/login}">Log In</a>
                    <a th:unless="*{student == null}" class="nav-link" href="/logout" th:href="@{/logout}">Log Out</a>
                </li>
                <li class="loggeduser" th:object="${session}">
                    <a th:if="*{student == null}" class="nav-link" href="/signup" th:href="@{/signup}">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</html>